$accentColor = #cd1d2c
$textColor = #2c3e50
$borderColor = #7a1419
$codeBgColor = #282c34

.search-box .suggestion {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.navbar a, .navbar span, .navbar img {
  display: inline;
}

.content__image {
  z-index: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  transform: scale(-1,1);
}

h1 {
  z-index 1
}

li, .content-name {
  position: relative;
  z-index: 1
}

.content-background {
  position: static;
  z-index 0;
  list-style-type: none;
}

p
